{{#each data}}
{{#if measurements.occupancy}}
{{else}}
<article class="">
	<div>
		<h2>{{room_name}}</h2>
		<h3>{{occupancy measurements.occupancy}}</h3>
		<button type="button" class="button_free" name="Book {{room_name}}">Reserveer ruimte</button>
	</div>
	<ul>
		<li><b>Temperatuur:</b> {{temp measurements.temperature}}°C </li>
		<li class="{{co2 measurements.co2}}"><b>Co2:</b> {{co2 measurements.co2}} <span>({{measurements.co2}} PPM)</span></li>
		<li><b>Luchtvochtigheid:</b> {{temp measurements.humidity}}%</li>
		<li class="{{volumeSafe measurements.mic_level}}"><b>Volume:</b> {{volumeSafe measurements.mic_level}} <span> ({{volume measurements.mic_level}} dB)</span></li>
	</ul>
</article>
{{/if}}
{{/each}}

{{#each data}}
{{#if measurements.occupancy}}
<article class="taken">
	<div>
		<h2>{{room_name}}</h2>
		<h3>{{occupancy measurements.occupancy}}</h3>
		<button type="button" class="button_watch" name="watch room" value="{{room_name}}">Watch</button>
	</div>
	<ul>
		<li><b>Temperatuur:</b> {{temp measurements.temperature}}°C </li>
		<li class="{{co2 measurements.co2}}"><b>Co2:</b> {{co2 measurements.co2}} <span>({{measurements.co2}} PPM)</span></li>
		<li><b>Luchtvochtigheid:</b> {{temp measurements.humidity}}%</li>
		<li class="{{volumeSafe measurements.mic_level}}"><b>Volume:</b> {{volumeSafe measurements.mic_level}} <span> ({{volume measurements.mic_level}} dB)</span></li>
	</ul>
</article>
{{/if}}
{{/each}}
