{{#each data}}
<article>
	<h2>{{room_name}}</h2>
	<ul>
		<!-- <li><b>Light level:</b> {{measurements.ambient_light}}</li> -->
		<li><b>Temperatuur:</b> {{temp measurements.temperature}}°C </li>
		<li><b>Co2:</b><span class="{{co2 measurements.co2}}">{{measurements.co2}} PPM</span></li>
		<li><b>Luchtvochtigheid:</b> {{humidity measurements.humidity}}%</li>
		<li><b>Volume:</b><span class="{{volumeSafe measurements.mic_level}}"> {{volume measurements.mic_level}} dB</span></li>
		<li><b>Bezet:</b> {{occupancy measurements.occupancy}}</li>
	</ul>
</article>
{{/each}}
